.wrapper {
  min-height: 600px;
  display: flex;
  justify-content: center;
  width: 730px;
  margin: 50px auto;
  align-items: center;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.product-img {
  float: left;
  height: 420px;
  width: 327px;
}

.product-info {
  float: left;
  height: auto;
  width: 327px;
  padding-right: 5px;
  border-radius: 0 7px 10px 7px;
}


.product-text h1 {
  margin: 0 0 0 38px;
  padding: 5px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 0 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d4c8c8;
  letter-spacing: 0.2em;
}

.product-text p {
  margin: 0 0 0 38px;
  padding-right:5px;
  padding-top:5px;
  padding-left: 5px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;

}

span {
  display: inline-block;
  height: 50px;
  margin: 0 0 0 38px;
  font-family: 'Suranna', serif;
  font-size: 34px;
}
.rating{
  margin: 0 0 0 38px;
  padding-top: 10px;
  font-size: 16px;}