.price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0067f8;
  margin-bottom: 1rem;
}
.categoryHeading {
  font-size: 13px;
  font-family: "Raleway", sans-serif; 
   font-weight: 400;
  text-transform: uppercase;
  color: #d4c8c8; 
   letter-spacing: 0.2em;
}
.productTitle {
  font-family: 'Bentham', serif;
  font-size: 34px;
  color: #474747;
}
.productDescription{
  font-family: 'Playfair Display', serif;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
}
.product-price{
  border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px
}
.box{
  /* height: 100vh; */
  display: flex;
}