<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/G/31/img23/BAU-Feb/Laptop-Days_6th-9th/Header_LaptopDays_1500x300._CB582155365_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/G/31/img15/zak/24/HP/Amazon_HP_Days_Banners_1500x300._CB582033247_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/G/31/img24/mmf-feb/header-1/MMF_Banner_1500x300_1._CB582044466_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container  text-center mb-3 mt-3">
  <div class="row">
    <div class="col .col-md-4">
      <div class=" mb-3 card" routerLink="products" style="width: 18rem">
        <img
          src="https://m.media-amazon.com/images/G/31/img23/Fashion/AF/Winterwearflip/incremental/bxgy._SS500_QL85_FMpng_.png"
          class="card-h-100"
          alt="fashion image"
          style="height: 270px"
        />
        <div class="card-body">
          <h5 class="card-title">Fashion</h5>
          <p class="card-text">
            Discover the essence of style with our curated fashion collection.
            From timeless classics to avant-garde trends, explore an array of
            garments and accessories that embody individuality and
            sophistication. Elevate your wardrobe with pieces designed to
            inspire confidence and creativity.
          </p>
          <a class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>
    <div class="col .col-md-4">
      <div class="mb-3 card" routerLink="products" style="width: 18rem">
        <img
          src="https://m.media-amazon.com/images/W/MEDIAX_849526-T1/images/I/91HYg7+j3-L._AC_UL480_FMwebp_QL65_.jpg"
          class="card-h-100"
          alt="jewellery image"
          style="height: 270px"
        />
        <div class="card-body">
          <h5 class="card-title">Jewellery</h5>
          <p class="card-text">
            Discover exquisite jewellery crafted with precision and passion.
            Elevate your style with stunning necklaces, earrings, bracelets, and
            rings designed to captivate. From timeless classics to contemporary
            trends, our collection boasts unparalleled elegance and
            craftsmanship.
          </p>
          <a routerLink="products" class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>
    <div class="col .col-md-4">
      <div class="card mb-3" routerLink="products" style="width: 18rem">
        <img
          src="https://m.media-amazon.com/images/G/31/img21/Boat_ultimaselect/978x900SP._CB582458576_.gif"
          class="card-img-top"
          alt="electronics image"
          style="height: 270px"
        />
        <div class="card-body">
          <h5 class="card-title">Electronics</h5>
          <p class="card-text">
            Discover a world of electronic marvels at our ecommerce store. From
            cutting-edge smartphones to sleek laptops, we offer a vast selection
            of gadgets to suit your needs. Explore our range of smart home
            devices, audio equipment, and gaming gear to elevate your lifestyle.
          </p>
          <a routerLink="products" class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>
    <div class="col .col-md-4">
      <div class="card mb-3" routerLink="products" style="width: 18rem">
        <img
          src="https://images.unsplash.com/photo-1610450949065-1f2841536c88?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2hvY29sYXRlfGVufDB8fDB8fHww"
          class="card-img-top"
          alt="chocolate image"
          style="height: 270px"
        />
        <div class="card-body">
          <h5 class="card-title">Chocolates</h5>
          <p class="card-text">
            Indulge in the divine pleasure of chocolate. Rich cocoa beans
            crafted into velvety bars, and decadent spreads. Explore a symphony
            of flavors: dark, infused with fruits, nuts, or spices. Elevate your
            senses with every melt-in-your-mouth bite,savor the sweetness of
            luxury chocolate delights.
          </p>
          <a routerLink="products" class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>
