<div class="box">
  <h3 class="text-center">Our Products</h3>
  <div class="container">
    <div class="row pt-3">
      @for(item of data;track $index){
      <div class="col pb-3">
        <div
          class="card d-flex"
          routerLink="{{ item.id }}"
          style="width: 18rem; height: 650px"
        >
          <img
            src="{{ item.image }}"
            class="card-img-top"
            alt="..."
            style="height: 300px"
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">
              {{ item.rating.rate }}&nbsp;<app-star-rating [rating]=item.rating.rate></app-star-rating><span
                >&nbsp;<br>{{ item.rating.count}}&nbsp;ratings</span
              >
            </p>
            <p class="card-text">{{ item.description | slice : 0 : 125 }}...</p>
            <a class="btn btn-primary">${{ item.price }}</a>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
