
#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.com404{
    background-color:rgb(240, 240, 240);;
}
.fof{
	  display: table-cell;
	  vertical-align: middle;
}
.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}
